.tab {
    background-color: white;
    display: table-row;
  }

  .tab button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--font-document);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    margin: 0 10px 0 0;
    border-radius: 10px 10px 0 0;
  }

  .tab button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
  }

  .tab button.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
  }

  .tabcontent {
    border: solid 3px;
    border-radius: 0 0 10px 10px;
  }

  .container {
    min-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    align-content: normal;
  }