main {
    font-family: var(--font-family);
    height: 70vh;
    margin: 0;
    background-color: white;
}
select, input {
    font-family: var(--font-family);
    font-size: 1.2em;
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: white;
    color: var(--primary-color);
}
form {
    display: flexbox;
    flex-direction: column;
    align-items: center;
}
button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family:var(--font-document);
    border-radius: 10px;
    padding: 10px 50px 10px 50px;
    margin: 10px;
    border: none;
}