<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicone.svg') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--CSS propriétaires-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-contrats.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-menu.css') }}">
    <!--Jeux de polices-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fenix&family=Pattaya&display=swap" rel="stylesheet">
    <!-- Sprite SVG dont Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
        <symbol id="house-door-fill" viewBox="0 0 16 16">
            <path d="M8 1.52l6 5V14h-4V9H6v5H2V6.52l6-5zm8 5.67v6.11a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-4H6v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7.19l-.94-.73a.8.8 0 0 1-.06-1.14l7-5.33a1.16 1.16 0 0 1 1.4 0l7 5.33a.8.8 0 0 1-.06 1.14L16 7.19z">
        </symbol>
    </svg>
    <title>La Péraudière | Intranet</title>
</head>
<body>
    <header>
        <h1>Accès Contrat</h1>
    </header>
    <main>
        <!-- Fil d'Ariane -->
        <div class="container-fluid my-5">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis fw-semibold text-decoration-none"
                           href="{{ url_for('home')}}"
                           title="accueil">
                            <svg class="bi" width="20" height="20">
                                <use xlink:href="#house-door-fill"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('contracts_bp.contrats') }}">
                            Gestion des Contrats
                        </a>
                    </li>
                    <li class="breadcrumb-item bi">
                        Contrat {{ contract['entreprise'] }} {{ contract['intitule'] }}
                    </li>
                </ol>
            </nav>
        </div> 
        <!-- Messages de retour et onglets -->
        <div class="container">
            {% if message or error_message or success_message %}
            <div class="row justify-content-center">
                <div class="col-md-12">
                    {% if message %}
                    <div class="alert alert-info alert-dismissible fade show text-center" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% if error_message %}
                    <div class="alert alert-danger alert-dismissible fade show text-center" role="alert">
                        {{ error_message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    {% if success_message %}
                    <div class="alert alert-success alert-dismissible fade show text-center" role="alert">
                        {{ success_message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endif %}
            <!-- Onglets de gestion des contrats : Evènements & Documents -->
            <div class="tab">
                <button class="tablinks{{' active' if tab == 'e' else ''}}"
                        onclick="openTab(event, 'Events')" id="defaultOpen">Evènements</button>
                <button class="tablinks{{' active' if tab == 'd' else ''}}"
                        onclick="openTab(event, 'Documents')">Documents</button>
                <button class="tablinks{{' active' if tab == 'f' else ''}}"
                        onclick="openTab(event, 'Bills')">Factures</button>
            </div>
            <!-- Conteneur du premier onglet (Evènements) -->
            <div id="Events" class="tabcontent{{' d-block' if tab == 'e' else ' d-none'}}">
                <!-- Contenu -->
                <div id="collapseOne" class="show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <div class="d-flex justify-content-start">
                            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#modalAjoutEvenement">Ajouter</button>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Sous-Type</th>
                                    <th>Descriptif</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if events|length > 0 %}
                                    {% for event in events|sort(attribute='date_evenement', reverse=True) %}
                                    <tr>
                                        <td class="align-middle">{{ event['id'] }}</td>
                                        <td class="align-middle">{{ event['date_evenement'] }}</td>
                                        <td class="align-middle">{{ event['type_evenement'] }}</td>
                                        <td class="align-middle">{{ event['sous_type_evenement'] }}</td>
                                        <td class="align-middle">{{ event['descriptif'] }}</td>
                                        <td class="align-middle">
                                            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#modalModifEvent{{ event['id'] }}">
                                                Modifier
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            <i class="bi bi-calendar-event"></i>
                                            Aucun évènement disponible.
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Conteneur du deuxième onglet (Documents) -->
            <div id="Documents" class="tabcontent{{' d-block' if tab == 'd' else ' d-none'}}">
                <!-- Contenu -->
                <div id="collapseTwo" class="show" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <!-- Bouton Ajouter -->
                        <div class="d-flex justify-content-start">
                            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#modalAjoutDocument">Ajouter</button>
                        </div>
                        <!-- Table de présentation des documents -->
                        <table class="table table-bordered">
                            <!-- Titres -->
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Type</th>
                                    <th>Sous-Type</th>
                                    <th>Descriptif</th>
                                    <th>Lien Document</th>
                                    <th>Date Document</th>
                                    <th>Nom Document</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <!-- Corps -->
                            <tbody>
                                {% if documents|length > 0 %}
                                    {% for document in documents|sort(attribute='date_document', reverse=True) %}
                                    <tr>
                                        <td class="align-middle">{{ document['id'] }}</td>
                                        <td class="align-middle">{{ document['type_document'] }}</td>
                                        <td class="align-middle">{{ document['sous_type_document'] }}</td>
                                        <td class="align-middle">{{ document['descriptif'] }}</td>
                                        <td class="align-middle">
                                            <a href="{{ url_for('contracts_bp.download_document', name=document['str_lien']) }}" target="_blank">
                                                {{ document['str_lien'] }}
                                            </a>
                                        </td>
                                        <td class="align-middle">{{ document['date_document'] }}</td>
                                        <td class="align-middle">{{ document['name'] }}</td>
                                        <td class="align-middle">
                                            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#modalModifDoc{{ document['id'] }}">
                                                Modifier
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="8" class="text-center">
                                            <i class="bi bi-folder2-open"></i>
                                            Aucun document disponible.
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- Conteneur du troisième onglet (Factures) -->
            <div id="Bills" class="tabcontent{{' d-block' if tab == 'f' else ' d-none'}}">
                <!-- Contenu -->
                <div id="collapseThree" class="show" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">
                        <div class="d-flex justify-content-start">
                            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#modalAjoutFacture">Ajouter</button>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Date</th>
                                    <th>Titre</th>
                                    <th>Montant</th>
                                    <th>Lien</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if bills|length > 0 %}
                                    {% for bill in bills|sort(attribute='date_facture', reverse=True) %}
                                    <tr>
                                        <td class="align-middle">{{ bill['id'] }}</td>
                                        <td class="align-middle">{{ bill['date_facture'] }}</td>
                                        <td class="align-middle">{{ bill['titre_facture'] }}</td>
                                        <td class="align-middle">{{ bill['montant'] }} €</td>
                                        <td class="align-middle">
                                            <a href="{{ url_for('contracts_bp.download_document', name=bill['str_lien']) }}" target="_blank">
                                                {{ bill['str_lien'] }}
                                            </a>
                                        </td>
                                        <td class="align-middle">
                                            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#modalModifFacture{{ bill['id'] }}">
                                                Modifier
                                            </button>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <i class="bi bi-file-earmark-text"></i>
                                            Aucune facture disponible.
                                        </td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal d'ajout d'évènement -->
        <div class="modal fade" id="modalAjoutEvenement" tabindex="-1" aria-labelledby="modalAjoutLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAjoutLabel">Ajouter un évênement</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('contracts_bp.add_contrats_event', id_contrat=contract['id'], tab='e') }}" method="post">
                            <!-- id Contrat -->
                            <div class="mb-3 d-none">
                                <input type="text" name="idContratE" id="idContrat" value="{{ contract['id'] }}">
                            </div>
                            <!-- Date de l'évènement -->
                            <div class="mb-3">
                                <label for="dateEvenementE" class="form-label">Date *</label>
                                <input type="date" class="form-control" name="dateEvenementE" id="dateEvenementE">
                            </div>
                            <!-- Type de l'évènement -->
                            <div class="mb-3">
                                <label for="TypeE0" class="form-label">Type *</label>
                                <select name="TypeE0" class="form-control" id="TypeE0" data-event-id="0" onchange="updateSousMenuEvent(this, menusEvents)"
                                        data-contract-id="0" required>
                                    <!-- Mise à jour dynamique par JavaScript des options du menu déroulant -->
                                </select>
                            </div>
                            <!-- Sous-Type de l'évènement -->
                            <div class="mb-3">
                                <label for="STypeE0" class="form-label">Sous-Type *</label>
                                <select name="STypeE0" class="form-control" id="STypeE0" required>
                                    <option value=""></option>
                                </select>
                            </div>
                            <!-- Descriptif de l'évènement -->
                            <div class="mb-3">
                                <label for="descriptifE" class="form-label">Descriptif *</label>
                                <textarea name="descriptifE" rows="4" id="descriptifE" class="form-control" data-stype-event-value="" required></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal d'ajout de document -->
        <div class="modal fade" id="modalAjoutDocument" tabindex="-1" aria-labelledby="modalAjoutLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAjoutLabel">Ajouter un document</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('contracts_bp.add_contrats_document', id_contrat=contract['id'], tab='d') }}" method="post" enctype="multipart/form-data">
                            <!-- id Contrat -->
                            <div class="mb-3 d-none">
                                <input type="text" name="idContratD" id="idContratD" value="{{ contract['id'] }}">
                            </div>
                            <!-- date du document -->
                            <div class="mb-3">
                                <label for="dateDocumentD" class="form-label">Date *</label>
                                <input type="date" class="form-control" name="dateDocumentD" id="dateDocumentD">
                            </div>
                            <!-- Type du document -->
                            <div class="mb-3">
                                <label for="TypeD0" class="form-label">Type *</label>
                                <select name="TypeD0" class="form-control" id="TypeD0" data-document-id="0" onchange="updateSousMenuDocument(this, menusDocuments)"
                                        data-contract-id="0" required>
                                    <!--  Mise à jour dynamique par JavaScript des options du menu déroulant -->
                                </select>
                            </div>
                            <!-- Sous-Type du document -->
                            <div class="mb-3">
                                <label for="STypeD0" class="form-label">Sous-Type *</label>
                                <select name="STypeD0" class="form-control" id="STypeD0" data-stype-document-value="" required>
                                    <option value=""></option>
                                </select>
                            </div>
                            <!-- Descriptif du document -->
                            <div class="mb-3">
                                <label for="descriptifD" class="form-label">Descriptif *</label>
                                <textarea name="descriptifD" id="descriptifD" rows="4" class="form-control" required></textarea>
                            </div>
                            <!-- Lien du document -->
                            <div class="mb-3 d-none">
                                <label for="LienDocumentD" class="form-label">Lien</label>
                                <input type="text" class="form-control" name="LienDocumentD" id="LienDocumentD">
                            </div>
                            <!-- Document -->
                            <div class="mb-3">
                                <label for="documentD" class="form-label">Document</label>
                                <input type="file" class="form-control" name="documentD" id="documentD" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal d'ajout de facture -->
        <div class="modal fade" id="modalAjoutFacture" tabindex="-1" aria-labelledby="modalAjoutLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAjoutLabel">Ajouter une facture</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('contracts_bp.add_contrats_bill', id_contrat=contract['id'], tab='f') }}" method="post" enctype="multipart/form-data">
                            <!-- id Contrat -->
                            <div class="mb-3 d-none">
                                <input type="text" name="idContratF0" id="idContratF0" value="{{ contract['id'] }}">
                            </div>
                            <!-- Date de la facture -->
                            <div class="mb-3">
                                <label for="dateFactureF0" class="form-label">Date *</label>
                                <input type="date" class="form-control" name="dateFactureF0" id="dateFactureF0" required>
                            </div>
                            <!-- Titre de la facture -->
                            <div class="mb-3">
                                <label for="titreFactureF0" class="form-label">Titre *</label>
                                <input type="text" class="form-control" name="titreFactureF0" id="titreFactureF0" required>
                            </div>
                            <!-- Montant de la facture -->
                            <div class="mb-3">
                                <label for="montantFactureF0" class="form-label">Montant *</label>
                                <input type="number" step="0.01" class="form-control" name="montantFactureF0"
                                       id="montantFactureF0" onchange="replaceCommaByDot(this)" required>
                            </div>
                            <!-- Upload du fichier de la facture -->
                            <div class="mb-3">
                                <label for="documentF0" class="form-label">Document *</label>
                                <input type="file" class="form-control" name="documentF0" id="documentF0" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modaux de modification d'évènements-->
        {% for event in events %}
        <div class="modal fade" id="modalModifEvent{{ event['id'] }}" tabindex="-1" aria-labelledby="modalModif{{ event['id'] }}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalModif{{ event['id'] }}Label">Modifier évènement du {{ event['date_evenement'] }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('contracts_bp.modif_event_id', id_contrat=event['id_contrat'], id_event=event['id'], tab='e') }}" method="post">
                            <input type="hidden" name="_method" value="PUT">
                            <!-- id Contrat -->
                            <div class="mb-3 d-none">
                                <input type="text" name="idContratE{{ event['id'] }}" id="idContratE{{ event['id'] }}" value="{{ event['id_contrat'] }}">
                            </div>
                            <!-- Date d'évènement -->
                            <div class="mb-3">
                                <label for="dateEvenementE{{ event['id'] }}" class="form-label">Date *</label>
                                <input type="date" class="form-control" name="dateEvenementE{{ event['id'] }}" id="dateEvenementE{{ event['id'] }}" value="{{ event['date_evenement'] }}">
                            </div>
                            <!-- Type d'évènement -->
                            <div class="mb-3">
                                <label for="TypeE{{ event['id'] }}" class="form-label">Type *</label>
                                <select name="TypeE{{ event['id'] }}" class="form-control" id="TypeE{{ event['id'] }}" data-event-id="{{ event['id'] }}"
                                        data-event-type-value="{{ event['type_evenement'] }}" onchange="updateSousMenuEvent(this, menusEvents)"
                                        data-contract-id="{{ event['id_contrat'] }}" required>
                                    <!-- Mise à jour dynamique par JavaScript des options du menu déroulant -->
                                </select>
                            </div>
                            <!-- Sous-Type d'évènement -->
                            <div class="mb-3">
                                <label for="STypeE{{ event['id'] }}" class="form-label">Sous-Type *</label>
                                <select name="STypeE{{ event['id'] }}" class="form-control" id="STypeE{{ event['id'] }}" onfocus="updateSousMenuEvent(this, menusEvents)"
                                        data-event-id="{{ event['id'] }}" data-stype-event-value="{{ event['sous_type_evenement'] }}"
                                        data-contract-id="{{ event['id_contrat'] }}" required>
                                    <option value="{{ event['sous_type_evenement'] }}" selected>{{ event['sous_type_evenement'] }}</option>
                                </select>
                            </div>
                            <!-- Descriptif de l'évènement -->
                            <div class="mb-3">
                                <label for="descriptifE{{ event['id'] }}" class="form-label">Descriptif *</label>
                                <textarea name="descriptifE{{ event['id'] }}" id="descriptifE{{ event['id'] }}" rows="10" id="descriptifE{{ event['id'] }}" class="form-control" required>{{ event['descriptif'] }}</textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">Modifier</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Modaux de modification de documents-->
        {% for document in documents %}
        <div class="modal fade" id="modalModifDoc{{ document['id'] }}" tabindex="-1" aria-labelledby="modalModif{{ document['id'] }}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Titre du modal -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalModif{{ document['id'] }}Label">Modifier document du {{ document['date_document'] }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Contenu du modal -->
                    <div class="modal-body">
                        <form action="{{ url_for('contracts_bp.modif_document_id', id_contrat=document['id_contrat'], id_document=document['id'], tab='d') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="_method" value="PUT">
                            <!-- Identifiant du contrat -->
                            <div class="mb-3 d-none">
                                <input type="text" name="idContratD{{ document['id'] }}" id="idContratD{{ document['id'] }}" value="{{ document['id_contrat'] }}">
                            </div>
                            <!-- Date du document -->
                            <div class="mb-3">
                                <label for="dateDocumentD{{ document['id'] }}" class="form-label">Date *</label>
                                <input type="date" class="form-control" name="dateDocumentD{{ document['id'] }}" id="dateDocumentD{{ document['id'] }}" value="{{ document['date_document'] }}">
                            </div>
                            <!-- Type du document -->
                            <div class="mb-3">
                                <label for="TypeD{{ document['id'] }}" class="form-label">Type *</label>
                                <select name="TypeD{{ document['id'] }}" class="form-control" id="TypeD{{ document['id'] }}" data-document-id="{{ document['id'] }}"
                                        data-document-type-value="{{ document['type_document'] }}" onfocus="updateSousMenuDocument(this, menusDocuments)"
                                        data-contract-id="{{ document['id_contrat'] }}" required>
                                    <!-- Mise à jour des options dynamique au chargement de la page par JavaScript -->
                                </select>
                            </div>
                            <!-- Sous-Type du document -->
                            <div class="mb-3">
                                <label for="STypeD{{ document['id'] }}" class="form-label">Sous-Type *</label>
                                <select name="STypeD{{ document['id'] }}" class="form-control" id="STypeD{{ document['id'] }}"
                                        data-stype-document-value="{{ document['sous_type_document'] }}" data-document-id="{{ document['id'] }}"
                                        onfocus="updateSousMenuDocument(this, menusDocuments)" required>
                                    <option value="{{ document['sous_type_document'] }}" selected>{{ document['sous_type_document'] }}</option>
                                </select>
                            </div>
                            <!-- Descriptif du document -->
                            <div class="mb-3">
                                <label for="descriptifD{{ document['id'] }}" class="form-label">Descriptif *</label>
                                <textarea name="descriptifD{{ document['id'] }}" id="descriptifD{{ document['id'] }}" rows="4" class="form-control" required>{{ document['descriptif'] }}</textarea>
                            </div>
                            <!-- Document -->
                            <div class="mb-3">
                                <label for="documentD{{ document['id'] }}" class="form-label">Document</label>
                                <input type="file" class="form-control" name="documentD{{ document['id'] }}" id="documentD{{ document['id'] }}">
                            </div>
                            <!-- Lien du document -->
                            <div class="mb-3 d-none">
                                <label for="strLienD{{ document['id'] }}" class="form-label">Lien *</label>
                                <input type="text" class="form-control" name="strLienD{{ document['id'] }}" id="strLienD{{ document['id'] }}" value="{{ document['str_lien'] }}">
                            </div>
                            <button type="submit" class="btn btn-primary">Modifier</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- Modaux de modification de factures-->
        {% for bill in bills %}
        <div class="modal fade" id="modalModifFacture{{ bill['id'] }}" tabindex="-1" aria-labelledby="modalModif{{ bill['id'] }}Label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Titre du modal -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalModif{{ bill['id'] }}Label">Modifier facture du {{ bill['date_facture'] }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Contenu du modal -->
                    <div class="modal-body">
                        <form action="{{ url_for('contracts_bp.modif_bill_id', id_contrat=bill['id_contrat'], id_bill=bill['id'], tab='f') }}" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="_method" value="PUT">
                            <!-- Identifiant du contrat -->
                            <div class="mb-3 d-none">
                                <input type="text" name="idContratF{{ bill['id'] }}" id="idContratF{{ bill['id'] }}" value="{{ bill['id_contrat'] }}">
                            </div>
                            <!-- Date de la facture -->
                            <div class="mb-3">
                                <label for="dateFactureF{{ bill['id'] }}" class="form-label">Date *</label>
                                <input type="date" class="form-control" name="dateFactureF{{ bill['id'] }}" id="dateFactureF{{ bill['id'] }}" value="{{ bill['date_facture'] }}" required>
                            </div>
                            <!-- Titre de la facture -->
                            <div class="mb-3">
                                <label for="titreFactureF{{ bill['id'] }}" class="form-label">Titre *</label>
                                <input type="text" class="form-control" name="titreFactureF{{ bill['id'] }}" id="titreFactureF{{ bill['id'] }}" value="{{ bill['titre_facture'] }}" required>
                            </div>
                            <!-- Montant de la facture -->
                            <div class="mb-3">
                                <label for="montantFactureF{{ bill['id'] }}" class="form-label">Montant *</label>
                                <input type="number" step="0.01" class="form-control" name="montantFactureF{{ bill['id'] }}"
                                       id="montantFactureF{{ bill['id'] }}" value="{{ bill['montant'] }}" onchange="replaceCommaByDot(this)" required>
                            </div>
                            <!-- Upload du fichier de la facture -->
                            <div class="mb-3">
                                <label for="fileFactureF{{ bill['id'] }}" class="form-label">Document</label>
                                <input type="file" class="form-control" name="fileFactureF{{ bill['id'] }}" id="fileFactureF{{ bill['id'] }}">
                            </div>
                            <button type="submit" class="btn btn-primary">Modifier</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </main>
    <footer>
        <p>© 2025 - La Péraudière - Tous droits réservés</p>
    </footer>
    <!--Scripts Propriétaire-->
    <script>
        const menusDocuments = {{ document_typing|safe }};
        const menusEvents = {{ event_typing|safe }};
    </script>
    <Script src="{{ url_for('static', filename='js/contrats-details.js') }}"></Script>
    <!--Scripts Bootstrap-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>