<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicone.svg') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS Bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!--CSS propriétaires-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-accueil.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-general.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-menu.css') }}">
    <!--Jeux de polices-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fenix&family=Pattaya&display=swap" rel="stylesheet">
    <!-- Sprite SVG Bootstrap -->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="house-door-fill" viewBox="0 0 16 16">
            <path d="M8 1.52l6 5V14h-4V9H6v5H2V6.52l6-5zm8 5.67v6.11a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1v-4H6v4a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V7.19l-.94-.73a.8.8 0 0 1-.06-1.14l7-5.33a1.16 1.16 0 0 1 1.4 0l7 5.33a.8.8 0 0 1-.06 1.14L16 7.19z">
        </symbol>
    </svg>
    <!-- Titre de la page -->
    <title>La Péraudière | Intranet</title>
</head>
<body>
    <!-- Titre de la fonctionnalité en en-tête -->
    <header>
        <h1>Gestion des utilisateurs</h1>
    </header>
    <!-- Corps de la page -->
    <main>
        <!-- Conteneur du fil d'Ariane -->
        <div class="container-fluid my-5">
            <!-- Fil d'Ariane -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
                    <li class="breadcrumb-item">
                        <a class="link-body-emphasis fw-semibold text-decoration-none" href="{{ url_for('home')}}">
                            <svg class="bi" width="20" height="20">
                                <use xlink:href="#house-door-fill"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="breadcrumb-item bi">
                        Gestion des Utilisateurs
                    </li>
                </ol>
            </nav>
        </div> 
        <!-- Conteneur boutons -->
        <div style="text-align: center;">
            <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#modalAjout">Ajouter un utilisateur</button>
        </div>
        <!-- Conteneur de table -->
        <div class="container">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <!-- En-tête tableau -->
                    <thead>
                        <tr>
                            <th scope="col">Identifiant</th>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Mail</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <!-- Contenu du tableau -->
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user['identifiant'] }}</td>
                                <td>{{ user['Prenom'] }}</td>
                                <td>{{ user['Nom'] }}</td>
                                <td>{{ user['mail'] }}</td>
                                <td>
                                    <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#modalModif{{ user['identifiant'] }}">Modifier</button>
                                    <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#modalSuppr{{ user['identifiant'] }}">Supprimer</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Modal d'ajout de bénéficiaire -->
        <div class="modal fade" id="modalAjout" tabindex="-1" aria-labelledby="modalAjoutLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- En-tête du modal d'ajout de bénéficiaire -->
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalAjoutLabel">Ajouter un utilisateur</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <!-- Corps du modal d'ajout de bénéficiaire -->
                    <div class="modal-body">
                        <!-- Formulaire d'ajout -->
                        <form action="{{ url_for('ajout_utilisateurs') }}" method="post">
                            <!-- Ajout du prénom -->
                            <div class="mb-3">
                                <label for="prenom" class="form-label">Prénom</label>
                                <input type="text" class="form-control" id="prenom" name="prenom">
                            </div>
                            <!-- Ajout du nom -->
                            <div class="mb-3">
                                <label for="nom" class="form-label">Nom</label>
                                <input type="text" class="form-control" id="nom" name="nom">
                            </div>
                            <!-- Ajout du mail -->
                            <div class="mb-3">
                                <label for="mail" class="form-label">Mail</label>
                                <input type="email" class="form-control" id="mail" name="mail">
                            </div>
                            <!-- Ajout d'identifiant -->
                            <div class="mb3">
                                <label for="identifiant" class="form-label">Identifiant (pnnnnnnnnnnn)</label>
                                <input type="text" class="form-control" id="identifiant" name="identifiant">
                            </div>
                            <!-- Ajout du mot de passe -->
                            <div class="mb-3">
                                <label for="mdp" class="form-label">Mot de passe</label>
                                <input type="password" class="form-control" id="mdp" name="mdp">
                            </div>
                            <!-- Ajout des habilitations -->
                            <div class="mb-3">
                                <input type="checkbox" name="habil1" id="administration" value="1">
                                <label for="administration" class="form-label">Administrateur</label><br>
                                <input type="checkbox" name="habil2" id="administratif" value="2">
                                <label for="administratif" class="form-label">Administratif</label><br>
                                <input type="checkbox" name="habil3" id="pprofesseur" value="3">
                                <label for="pprofesseur" class="form-label">Professeur principal</label><br>
                                <input type="checkbox" name="habil4" id="professeur" value="4">
                                <label for="professeur" class="form-label">Professeur</label><br>
                                <input type="checkbox" name="habil5" id="eleve" value="5">
                                <label for="eleve" class="form-label">Elève</label><br>
                                <input type="checkbox" name="habil6" id="impression" value="6">
                                <label for="impression" class="form-label">Impression</label>
                            </div>
                            <!-- Bouton d'envoi du formulaire -->
                            <button type="submit" class="btn btn-primary">Ajouter</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de modification des utilisateurs -->
        {% for user in users %}
            <div class="modal fade" id="modalModif{{ user['identifiant'] }}" tabindex="-1" aria-labelledby="modalModif{{ user['identifiant'] }}Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- En-tête du modal de modification -->
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalModif{{ user['identifiant'] }}Label">Modifier un utilisateur</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <!-- Corps du modal de modification -->
                        <div class="modal-body">
                            <form action="{{ url_for('modif_utilisateurs') }}" method="post">
                                <!-- Modification de prénom -->
                                <div class="mb-3">
                                    <label for="prenom" class="form-label">Prénom</label>
                                    <input type="text" class="form-control" id="prenom" name="prenom" value="{{ user['Prenom'] }}">
                                </div>
                                <!-- Modification du nom -->
                                <div class="mb-3">
                                    <label for="nom" class="form-label">Nom</label>
                                    <input type="text" class="form-control" id="nom" name="nom" value="{{ user['Nom'] }}">
                                </div>
                                <!-- Modification du mail -->
                                <div class="mb-3">
                                    <label for="mail" class="form-label">Mail</label>
                                    <input type="email" class="form-control" id="mail" name="mail" value="{{ user['mail'] }}">
                                </div>
                                <!-- Modification de l'identifiant -->
                                <div class="mb3">
                                    <label for="identifiant" class="form-label">Identifiant (pnnnnnnnnnnn)</label>
                                    <input type="text" class="form-control" id="identifiant" name="identifiant" value="{{ user['identifiant'] }}">
                                </div>
                                <!-- Modification du mot de passe-->
                                <div class="mb-3">
                                    <label for="mdp" class="form-label">Mot de passe</label>
                                    <input type="password" class="form-control" id="mdp" name="mdp">
                                </div>
                                <!-- Modification des habilitations -->
                                <div class="mb-3 d-none">
                                    <input type="checkbox" name="habil1" id="administration{{ user['id'] }}" value="1" {% if '1' in user.habilitation|string %}checked{% endif %}>
                                    <label for="administration{{ user['id'] }}" class="form-label">Administrateur</label><br>
                                    <input type="checkbox" name="habil2" id="administratif{{ user['id'] }}" value="2" {% if '2' in user.habilitation|string %}checked{% endif %}>
                                    <label for="administratif{{ user['id'] }}" class="form-label">Administratif</label><br>
                                    <input type="checkbox" name="habil3" id="pprofesseur{{ user['id'] }}" value="3" {% if '3' in user.habilitation|string %}checked{% endif %}>
                                    <label for="pprofesseur{{ user['id'] }}" class="form-label">Professeur principal</label><br>
                                    <input type="checkbox" name="habil4" id="professeur{{ user['id'] }}" value="4" {% if '4' in user.habilitation|string %}checked{% endif %}>
                                    <label for="professeur{{ user['id'] }}" class="form-label">Professeur</label><br>
                                    <input type="checkbox" name="habil5" id="eleve{{ user['id'] }}" value="5" {% if '5' in user.habilitation|string %}checked{% endif %}>
                                    <label for="eleve{{ user['id'] }}" class="form-label">Elève</label><br>
                                    <input type="checkbox" name="habil6" id="impression{{ user['id'] }}" value="6" {% if '6' in user.habilitation|string %}checked{% endif %}>
                                    <label for="impression{{ user['id'] }}" class="form-label">Impression</label>
                                </div>
                                <!-- Déverrouillage de l'utilisateur -->
                                <div class="mb-3">
                                    <input type="checkbox" name="unlock" id="unlock{{ user['id'] }}" value="1">
                                    <label for="unlock{{ user['id'] }}" class="form-label">Déverrouiller</label>
                                </div>
                                <!-- Bouton d'envoi du formulaire -->
                                <button type="submit" class="btn btn-primary">Modifier</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="modalSuppr{{ user['identifiant'] }}" tabindex="-1" aria-labelledby="modalSuppr{{ user['identifiant'] }}Label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalSuppr{{ user['identifiant'] }}Label">Supprimer un utilisateur</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="{{ url_for('suppr_utilisateurs') }}" method="post">
                                <div class="mb-3">
                                    <label for="identifiant" class="form-label">Identifiant</label>
                                    <input type="text" class="form-control" id="identifiant" name="identifiant" value="{{ user['identifiant'] }}">
                                </div>
                                <button type="submit" class="btn btn-primary" onclick="confirm('Êtes-vous sûr de vouloir supprimer cet élève ?')">Supprimer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </main>
    <footer>
        <p>© 2025 - La Péraudière - Tous droits réservés</p>
    </footer>
    <!--Scripts Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>